h1 {
  color: #1fb6ff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #364657;
  color: lightgray;
  padding: 5px 
}

header {
  background-color:#ffffff;
  padding: 15px; 

}

header div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  line-height: 0.2em; 
}

header p {
  font-size: 0.7em;
}

nav {
  margin: 0px 15px;
  padding: 10px;
  text-align: right;
  background-color: #364657;
}

.button-login-enabled {
  float: right;
}

.btn-login-disabled {
  float: right;
}


.user-block {
  float: right;
  position: relative;
}
.user-block img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px lightgray solid;
  margin: 5px 15px;
}
.user-block h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 15px;
}

.user-block button {
  vertical-align: top;
  margin: 5px 2px;
  border: 1px #ccd6d8 solid;
  padding: 5px 15px;  
  background-color: #eaf2f3;
  font-size: 1.2em;
  border-radius: 3px;
  width: 120px;
}

.user-block button:hover{
  color: white;
  background-color: #364657;
}

nav button {
    border-radius: 3px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 100px;
    font-size: 1.2em;
    font-family: 'Tahoma';
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    border: 1px solid #1fb6ff;
    border-radius: 5px;
    padding: 0px;
    margin: 0 0.2em;
    background: #1fb6ff;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 2px 0 0 #0077d3;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: all .3s linear;
}

nav button:hover{
  background-color: #3b5998;
}

main {
  margin: 5px 15px;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 10px;
  color: #4d4d4d;
}


.person-row {
  float: none;
  border: 1px lightgray solid;
  color: gray;
  margin: 2px 0px;
}

.person-row:hover{
  background-color: #f1f6f8;
  color: black;
}

.person-row > div {
  display: inline-block;
  margin: 5px;
  text-align: left;
  vertical-align: middle;
}

.grid-person-ico {
  height: 50px;
  width: 50px;  
  border: 1px lightgray solid;
}

.grid-person-login { width: 140px; }
.grid-person-name  { width: 200px;  }
.grid-person-email { width: 300px; }
.grid-person-phone { width: 150px; }

.grid-title {
  float: none;
  border: 1px lightgray solid;
  color: gray;
  margin: 2px 0px;
}

.grid-title > div {
  display: inline-block;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

main img {
 visibility: hidden;
}


/*.grid-person-ico, .grid-person-login, .grid-person-name, .grid-person-email, .grid-person-phone {
  float: left;
}*/